/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
}


/* Header */
header {
    background-color: lightcoral;
}

/* Main content */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}


/* Footer */
footer {
    background-color: orange;
}


    a.further-reading {
        color: blue;
        text-decoration: none;
        font-weight: bold;
    }
    a.further-reading:hover {
        text-decoration: underline;
    }


    #issues{
        background-color: white ;
    }

    #peerpresure-card{
        background-color: #f24987 ;
    }

    #stress-card{
        background-color: #1f8da6 ;
    }

    #anxiety-card{
        background-color: #f25c05 ;
    }

    #depression-card{
        background-color: #f2a007 ;
    }
